<div class="form-container center-form">
  <h2>New List</h2>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-gradient" %>
    <%= link_to "Back to lists", lists_path, class: "btn btn-gradient button-right blue-back-color" %>
  <% end %>
</div>
